mixin ui-input(id, text, mods, type, icon, errorsFalse)
  -
    const baseName = 'ui-input'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-input(class=allMods)
    if text
      label.ui-input__label !{text}
    if icon
      .ui-input__wrapper
        input(id=id type=(typeof(type) !== 'undefined' && type ? type : 'text') data-parsley-errors-messages-disabled)&attributes(attributes)
        .ui-input__icon
          img(src=`img/${icon}`, alt='')
    else
      if !errorsFalse
        input(id=id type=(typeof(type) !== 'undefined' && type ? type : 'text') data-parsley-errors-messages-disabled)&attributes(attributes)
        .ui-input__error Заполните эту форму
      else
        input.ui-input__native(id=id type=(typeof(type) !== 'undefined' && type ? type : 'text'))&attributes(attributes)
