mixin popup-wrapper(mods)
  -
    const baseName = 'popup-wrapper'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .popup-wrapper(class=allMods style='display: none;')&attributes(attributes)
    block

mixin popup-head(popupHeadData, mods)
  -
    const baseName = 'popup-head'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .popup-head(class=allMods)&attributes(attributes)
    if popupHeadData.h3
      .popup-head__h3(class=popupHeadData.h3Mods) !{popupHeadData.h3}
    if popupHeadData.descr
      .popup-head__descr !{popupHeadData.descr}
    block

mixin popup-foot(mods)
  -
    const baseName = 'popup-foot'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .popup-foot(class=allMods)&attributes(attributes)
    block
